<div class="row">
    <h2>last added</h2>
    <div ng-repeat="photo in photos" class="col-lg-2">
        <a href="#/photo/{{ photo._id }}" class="thumbnail" style="margin-bottom: 10px;">
            <img ng-src="{{ photo.preview }}" alt="{{ photo.title || photo.name || photo.fileOriginalName }}" title="{{ photo.title || photo.name || photo.fileOriginalName }}" />
        </a>
    </div>
</div>

<div class="row">
    <h2>top rated</h2>
    <div ng-repeat="photo in topRatedPhotos" class="col-lg-2">
        <a href="#/photo/{{ photo._id }}" class="thumbnail" style="margin-bottom: 10px;">
            <img ng-src="{{ photo.preview }}" alt="{{ photo.title || photo.name || photo.fileOriginalName }}" title="{{ photo.title || photo.name || photo.fileOriginalName }}" />
        </a>
    </div>
</div>